

.align-items-center.row {
    margin-left: 105%;
    margin-top: -32%;
    font-size: 113%;
}
button#demo-multiple-checkbox-label {
    color: black;
    background-color: white;
    font-size: 120%;
}
label {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .sort {
    margin-top: 0em;
  }
  

  .Dropdown-Item {
    font-size: 0.9em;
  }
  label#demo-multiple-checkbox-label {
    margin-top: 0px;
}
.flex-pr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.ui.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0;
    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-left: -1rem;
    margin-right: 0rem;
}
  
  @media (min-width: 1536px) {
    .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-6.MuiGrid-grid-md-4.css-11l5t4l-MuiGrid-root {
        flex-basis: 33.333333%;
        flex-grow: 0;
        max-width: 21.333333%;
        margin-left: 2%;
    }
    .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.css-mhc70k-MuiGrid-root {
        width: calc(104% + 8px);
        margin-left: -28px;
    }

}
@media (max-width: 1280px) {
    nav.MuiList-root.MuiList-padding.MuiList-subheader.css-i7rae6-MuiList-root {
        width: 86%;
    }
    input.form-range {
        width: 86%;
    }
    .css-mhc70k-MuiGrid-root>.MuiGrid-item {
        padding-left: 1px;
    }
    .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.product.css-mhc70k-MuiGrid-root {
        margin-top: 1%;
        margin-left: -2%;
        gap: 0px;
    }
    .col-auto {
        flex: 0 0 auto;
        width: auto;
        margin-left: -3%;
    }
    .MuiGrid-root.MuiGrid-item.css-13i4rnv-MuiGrid-root {
        display: flex;
        width: 229px;
        margin-left: -6%;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

}
@media (max-width: 1024px) {
    nav.MuiList-root.MuiList-padding.MuiList-subheader.css-i7rae6-MuiList-root {
        width: 73%;
    }
    input.form-range {
        width: 74%;
    }
    .css-mhc70k-MuiGrid-root>.MuiGrid-item {
        padding-left: 1px;
    }
    .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.product.css-mhc70k-MuiGrid-root {
        margin-top: 1%;
        margin-left: -3%;
        gap: 0px;
        width: calc(102% + 16px);
    }
    .col-auto {
        flex: 0 0 auto;
        width: auto;
        margin-left: -4%;
    }

}
@media (max-width: 900px) {
    nav.MuiList-root.MuiList-padding.MuiList-subheader.css-i7rae6-MuiList-root {
        width: 73%;
    }
    input.form-range {
        width: 74%;
    }
    .css-mhc70k-MuiGrid-root>.MuiGrid-item {
        padding-left: 1px;
    }
    .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.product.css-mhc70k-MuiGrid-root {
        margin-top: 1%;
        margin-left: -3%;
        gap: 0px;
    }
    .col-auto {
        flex: 0 0 auto;
        width: auto;
        margin-left: -4%;
    }
    .text-title {
        font-weight: 900;
        font-size: 1.2em;
        line-height: 0;
    }
}
