
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   */
   .breakdance {
    background-color: #f8f9fa;
    padding: 20px;
    width: 90%;
    margin: auto;
}
  
  .bde-section {
    margin: 20px 0; 
  }
  
  .section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bde-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .bde-column {
    flex: 1;
    min-width: 300px; 
    margin: 10px;
  }
  
  .bde-heading {
    margin-bottom: 10px;
    color: #333; 
  }
  
  .bde-heading-163033-105 {
    font-size: 1.25rem; 
    font-weight: 600;
  }
  
  .bde-heading-163033-106 {
    font-size: 2rem; 
    font-weight: 700; 
  }
  
  .bde-rich-text {
    margin-top: 15px;
    color: #666; 
  }
  
  .bde-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .breakdance-image {
    max-width: 80%;
    height: auto; 
  }
  
  .breakdance-image-container {
    width: 90%;
    overflow: hidden; 
  }
  
  .breakdance-image-object {
    width: 90%;
    height: auto;
  }
  