/* .navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 1rem;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    background-color: white;
}

.navbar1.hidden {
    top: -80px; 
  }

.navbar1 .logo {
    position: relative;
    left: 180px;
    width: 100px;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    margin: auto;
    list-style: none;
    gap: 50px;
    color: #111827;
    font-size: 15.75px;
    font-weight: 500;
    
}


.navbar-right {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin-bottom: 12px;
    cursor: pointer;
}

.navbar-right .search {
    width: 20px;
    cursor: pointer;
    cursor: pointer;
}


.navbar-right .cart {
    width: 25px;
    cursor: pointer;    
}
.navbar1 button {
    top: -4px;
    right: -7px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    
}

.navbar1 .user {
    width: 23.5px;
    right: -55px;
    top: 12px;
}

.navbar-login{
    display: flex;
    gap: 7px;
}
.navbar1 li {
    cursor: pointer;
}







@media (max-width: 1050px) {
    .navbar1 .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
        
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width: 900px) {
    .navbar1 .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .navbar-menu {
        display: none;
    }
}
.nav-login-cart button:active{
    background: #f3f3f3;
}
.nav-cart-count{
    position: relative;
    top: 48px;
    right: 55px;
    width: 24px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -95px;
    margin-left: 35px;
    border-radius: 16px;
    font-size: 17px;
    background: black;
    color: white;
} */
